/* https://matthewjamestaylor.com/responsive-font-size#:~:text=To%20make%20font%20size%20responsive%20in%20steps%2C%20set%20the%20base,relative%20to%20the%20screen%20width. */

nav,
.copyright {
  background-color: #4BB7BA;
  color: #fff;
  padding: 0.3rem !important;
}

.shadow-t {
  box-shadow: 0px -4px 4px 0px #D9D9D9;
}

section p,
section h2,
section h3,
section h6 {
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: 700;

}

h2 {
  font-family: 'Raleway', sans-serif;
  color: #265C7E;
  font-weight: 700;
  /* font-size:2.5rem; */
  margin: 1rem;
}

.h3-dk {
  color: #265C7E
}

h6 {
  color: #265C7E;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 1rem;

}

h3 {
  font-family: 'Raleway', sans-serif;
  /* color: #fff; */
  font-weight: 700;
  margin: 1rem;
}

p, li {
  font-family: 'Raleway', sans-serif;
  /* margin: 1rem; */
}

h6 {
  margin-bottom: 0px !important;
}

.footer {
  padding: 1rem !important;
}

footer p {
  margin: 0rem;
}

footer h6 {
  margin: 0 0 0 0 !important;
}

a {
  color: #FF8A5B;
  font-weight: 700;
  text-decoration: underline;
}

.titleog {
  color: #FF8A5B;
}

nav a {
  text-decoration: none;
}

a:hover {
  color: #265C7E;
}

/* additional coding for nav */

nav {
  background-color: #4BB7BA;
  padding: 0.5rem;
  color: #fff;
}

.nav-css a {
  color: white;
  padding-top: 0.5rem;
}

.nav-link.active {
  background-color: #FF8A5B;
  border-radius: 5px 5px 0px 0px;

}

.navbar-nav .nav-link {
  /* background: #eee; */
  border: 2px solid transparent;
}

.navbar-nav .nav-link:hover {
  border-bottom: 2px solid #FF8A5B;
}

.nav-item {
  padding: 1rem;
  font-size: 1.25rem;
}

nav i {
  font-size: 2rem;
}

/* end of nav */

/* Banner image */
#bannerimg {
  max-height: 600px;
  object-fit: cover;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#banner h1 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-5%, -50%);
  text-align: right;
}

.blue-bg-color {
  background-color: #265C7E;
}

.contactform {
  color: white;
  padding: 1rem;
  font-family: 'Raleway', sans-serif;
}

.contactform button {
  width: 100%;
}

.demo-container {
  background-color: whitesmoke;
  padding: 1rem;
}

.custom-button {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: calc(1rem + 0.25vw);
  background-color: #FF8A5B;
  border-radius: 5px;
  border: none;
  /* padding: 1rem 4rem; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.custom-button2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: calc(1rem + 0.25vw);
  background-color: #FF8A5B;
  border-radius: 5px;
  border: none;
  /* padding: 1rem 4rem; */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* button{
    margin:1rem;
} */

.narrow-content {
  padding-left: 10%;
  padding-right: 10%;
}

.output-value {
  background-color: #FDC7B2;
}

/* .output-value .form-control {
  border: none;
  color: white;
  width: auto !important;
} */

/* table */
#demo_table {
  background-color: darkgrey;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  /* min-width: 1200px; */
  width: auto !important;
}

.base_row {
  border-width: 3px;
  border-color: red;
  border-style: solid;
}

.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -55%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.input-icon > input {
  padding-left: 25px;
  padding-right: 0;
}

tr:nth-child(odd) {
  background-color: rgba(0,0,0,.1) !important;
}

thead {
  background-color: #265C7E;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.btn-red {
  background-color: red;
  color: #fff;
  margin-top: 5px;
}

.btn-green {
  background-color: green;
  color: #fff;
  margin-top: 5px;
}

.button-row {
  border: none;
  text-align: center;
  min-width: 67px !important;
}

/* .set-base {
  display: none;
}
.set-base:hover button {
  display: block !important;
} */

/* td.set-base:hover button{
  display: block !important;
} */

/* Target the last column */
td:nth-child(-n+7) {
  border: none;
}

.legend {
  margin: 1.5rem;
}

.legend > h3 {
  margin: 0px 0 1rem -1rem;
}

#calculate_button,
#save-button {
  background-color: #4BB7BA;
}

#scenario-dropdown-label {
  background-color: #fff;
  /* width: 50%; */
}

#dropdown-menu {
  display: flex;
  flex-direction: column;
}

#scenario-dropdown-label {
  background-color: #fff;
  max-width: max-content;
  color: #4BB7BA;
  border-color: #4BB7BA;
  padding: 0.5rem 3rem 0.5rem 3rem;
}

.dropdown-item {
  display: inline;
}

input[type="text"] {
  width: 200px;
  height: 50px;
  /* padding-right: 50px; */
}

.example {
  margin: 5px -90px 5px;
  height: 40px;
  width: 80px;
  z-index: 100;
}

.test-div {
  width: 240px;
}

#scenario-list {
  width: 339px;
  height: 254px;
  /* list-style: none; */
  padding-left: 0;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  margin-bottom: 0;
}


/* .saved-scenario:nth-child(odd) {
  background-color: #dcdcdc;
} */

.saved-scenario {
  height: 30px;
  width: 295px;
  padding-left: 10px;
}

.saved-scenario:hover {
  cursor: pointer;
  background-color: lightgray;
}

.hidden-delete-button {
  float: right;
}

li[id^="scenario_item_"] .hidden-delete-button{
  visibility: hidden;
}

li[id^="scenario_item_"]:hover .hidden-delete-button{
  visibility: visible;
}



/* Make the demo container span the full width */
@media (max-width: 1200px) {
  .demo-container {
    background-color: rgb(198, 196, 196);
    width: 300%;
  }

  .demo-container .form-control {
    width: min-content;
  }
}

.wide-demo {
  /* width: 1800px !important; */
  max-width: 1420px !important;
}

.live-demo {
  /* width: 1800px !important; */
  max-width: 1220px !important;
}


/* fonts */
@media (min-width: 48rem) {
  h1 {
    font-size: 2.5rem !important;
    font-weight: 750 !important;
  }


  h2 {
    font-size: calc(2.5rem+1vw);
  }

  p,
  .contactform {
    font-size: calc(1rem + 0.25vw);
  }

  h3 {
    font-size: calc(1rem + 0.75vw);
  }

  .form-control-small {
    /* text-align: center; */
    width: 7em;
    margin-top: 5px;
  }

  .form-control-medium {
    text-align: center;
    width: 9em;
  }
  .form-control-large {
    text-align: center;
    width: 11em;
  }

}